# ==================== Note ==========================
#
# For intalling the torch, please go to the official
# website listed here to install via the wheal.
# https://pytorch.org/get-started/locally/
#
# The project used the pre-trained yolo8n-seg segmentation
# model. For installing, please go to the ultralytics official
# website listed here to follow the guidence.
# https://docs.ultralytics.com/quickstart/#custom-installation-methods
#
# model name: yolov8n-seg.pt
# ===================================================
numpy~=2.1.1
torch~=2.6.0+cu118
opencv-python~=4.11.0.86
pygrabber~=0.2
sympy~=1.13.1
ultralytics~=8.3.98